<%= render 'shared/errors', obj: @recipe %>

<div class='row'>
  <div class='col-md-12'>
    <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :ingedients, "Ingredients" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :ingedients, rows: 6, class: "form-control", placeholder: "Enter Ingredients of recipe " %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :description %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter recipe direction how to prepare" %>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <%= f.collection_check_boxes :key_ingredient_ids, KeyIngredient.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input-checkbox") {cb.check_box(class: "checkbox") + cb.text}  %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <%= f.submit class: 'btn btn-primary btn-lg btn-xlarge' %>
        </div>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4">
      [ <%= link_to "Cancel request and return to recipes listing", recipes_path %> ]
    </div>
  </div>
</div>

