<% obj.each do |recipe| %>
    <div class="row">
      <div class="col-md-2">
        <section class="chef-info center">
          <p>
            <%= link_to gravatar_for(recipe.chef, size: 120), chef_path(recipe.chef) %>
          </p>
        </section>
      </div>
      <div class="col-md-8 well">
        <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
        <p><%= truncate(recipe.description, length: 150) %></p>
        
        <% if recipe.key_ingredients.any? %>
          <p>Key Ingredients: <%= render recipe.key_ingredients %></p>
        <% end %>
        <p> 
         <span class="quiet"> <small> Created: <%= time_ago_in_words(recipe.created_at) %> ago, By: <%= recipe.chef.chef_name.capitalize  %>
                                                                  | 
                                                                               <%= pluralize(recipe.comments.count, 'Comment') %></small></span>
        </p>
        
        <% if logged_in? && (current_chef == recipe.chef || current_chef.admin?) %>
          <div class="recipe-action">
            <%= link_to "Edit Recipe", edit_recipe_path(recipe), class: "btn btn-xs btn-info" %>
            <%= link_to "Delelte Recipe", recipe_path(recipe), method: :delete, 
                        data: { confirm: "Are you sure you want to delete this recipe?" }, class: "btn btn-xs btn-danger" %>
          </div>
        <% end %>
      </div>
      <div class="col-md-2">
        <section class=" center">
          <p>
            
          </p>
        </section>
      </div>
    </div>
  <% end %>