<div class="brand">My Recipes</div>
    <div class="address-bar">3481 Gwinnette Place | Duluth, GA 30096 | 123.456.7890
</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
    <%= link_to root_path, class: 'navbar-brand' do %>
    <i class="fa fa-spoon"></i>
    MyRecipes
    <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to root_path do %>
          <i class="fa fa-home"></i>
          Home
          <% end %> </li>
          <li><%= link_to recipes_path do %>
          <i class="fa fa-cutlery"></i>
          Recipes
          <% end %></li>
          <li><%= link_to  "#" do %>
          <i class="fa fa-black-tie"></i>
          Chefs
          <% end %></li>
          <li><%= link_to pages_about_path do %>
          <i class="fa fa-font"></i>
          About
          <% end %></li>
          <li><%= link_to new_contact_path do %>
          <i class="fa fa-phone-square"></i>
          Contact Us
          <% end %></li>
          <li><%= link_to 'Create new Recipe', new_recipe_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
